<!DOCTYPE html>
<html>
<head>
  <title>Styles</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/styles">Styles</a></li>
        <li><a href="/styles/new">Add Styles</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
